

@import "../../mixins.scss";
$primary-color: #3498db;
$sidebar-width: 250px;
$border-color: #bdc3c7;

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;

}

.sidebar {
  width: $sidebar-width;
  background-color: $primary-color;
  color: white;
  padding: 20px;

}

.content {
  flex-grow: 1;
  padding: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid $border-color;
  }

  th {
    background-color: $primary-color;
    color: white;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #ecf0f1;
    }

    tr {
      background-color: #d4e6f1;
    }
  }

  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .sidebar {
      width: 100%;
    }
  }
}